
            
#about{
    background: #CAD3C8;
    padding:10px;
}

#image{
    width:100px;
    border:100px;
    border-radius:50px;
 
}

.xyz{
    background: #CAD3C8;
}

body{
    background: #58B19F;
}

#box{
    background: white;
    width:500px;
    min-height:500px;
    margin:100px auto;
    padding:50px;
    border-radius: 10px;
    border: 1px solid silver;
}

